name: Lint

on: [push, pull_request]
#  push:
#    branches:
#      - master
#  pull_request:
#    branches:
#      - master

jobs:
  lint:
    runs-on: windows-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Lint
      run: flake8 addon
